body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Sniglet', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

#game-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

p {
    margin: 10px 0 30px;
}

#error-message {
    color: red;
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

#game-board div {
    width: 50px;
    height: 50px;
    border: 2px solid #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    width: 100%;
    max-width: 600px;
}

#keyboard button {
    padding: 10px;
    font-size: 1em;
    border: none;
    background-color: #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}

#keyboard button:hover {
    background-color: #a9a9a9;
}

#keyboard button:active {
    background-color: #808080;
}

.correct {
    background-color: #6aaa64 !important;
    border-color: #6aaa64 !important;
    color: white !important;
}

.present {
    background-color: #c9b458 !important;
    border-color: #c9b458 !important;
    color: white !important;
}

.absent {
    background-color: #787c7e !important;
    border-color: #787c7e !important;
    color: white !important;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
